In [1]:
import pandas as pd
import numpy as np

In [3]:
#loading the raw data
file_path = "../data/Watershed_Water_Quality_-_Hydrology.csv"
df = pd.read_csv(file_path)

/var/folders/2t/5z71t9kj2yb0syg9m7v2fbnr0000gn/T/ipykernel_815/1964506953.py:3: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [4]:
#initial inspection
print("Initial Data Preview: ")
df.head()

Initial Data Preview:

,Sample Id,Sample Site,Sample Date,Sample Time,Analyte,Status,Final Result,Units,Stream Group
0,C-185028,S4,01/07/1987,NaN,Temperature,NaN,1.11111,C,Schoharie
1,C-186342,S6I,01/07/1987,NaN,Temperature,NaN,0.555556,C,Schoharie
2,C-187744,S8,01/07/1987,NaN,Temperature,NaN,2.22222,C,Schoharie
3,C-185028,S4,01/07/1987,NaN,Scent Character,NaN,1V,NaN,Schoharie
4,C-186342,S6I,01/07/1987,NaN,Scent Character,NaN,1V,NaN,Schoharie

In [5]:
df.tail()

,Sample Id,Sample Site,Sample Date,Sample Time,Analyte,Status,Final Result,Units,Stream Group
1664702,E-2301489-01,BOYDR,04/25/2023,09:52:00.000,Specific Conductance,Done,237,umhos/cm,West Branch
1664703,E-2301489-03,CROSSRVVC,04/25/2023,08:40:00.000,Specific Conductance,Done,263,umhos/cm,Delaware Aqueduct
1664704,E-2301489-03,CROSSRVVC,04/25/2023,08:40:00.000,Turbidity,Done,1.6,NTU,Delaware Aqueduct
1664705,E-2301489-01,BOYDR,04/25/2023,09:52:00.000,Turbidity,Done,0.96,NTU,West Branch
1664706,E-2301489-02,CROFALLSVC,04/25/2023,09:16:00.000,Turbidity,Done,0.99,NTU,Delaware Aqueduct

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1664707 entries, 0 to 1664706
Data columns (total 9 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Sample Id     1664707 non-null  object
 1   Sample Site   1664707 non-null  object
 2   Sample Date   1664707 non-null  object
 3   Sample Time   1244822 non-null  object
 4   Analyte       1664707 non-null  object
 5   Status        298185 non-null   object
 6   Final Result  1664676 non-null  object
 7   Units         1528186 non-null  object
 8   Stream Group  1661495 non-null  object
dtypes: object(9)
memory usage: 114.3+ MB

In [20]:
#as every column have Dtype as object, it would be great to convert the types accordingly

#convert date and time
df['Sample Date'] = pd.to_datetime(df['Sample Date'], errors = 'coerce')
df['Sample Time'] = pd.to_datetime(df['Sample Time'], errors = 'coerce', format = '%H:%M:%S.%f')

#converting numerical columns:
df['Final Result'] = pd.to_numeric(df['Final Result'], errors = 'coerce')

#converting categorical columns
catergorical_cols = ['Sample Id', 'Sample Site', 'Analyte', 'Status', 'Units', 'Stream Group']
df[categorical_cols] = df[categorical_cols].astype('category')

#display the updated data types
df.dtypes

Sample Id               object
Sample Site           category
Sample Date     datetime64[ns]
Sample Time     datetime64[ns]
Analyte               category
Status                category
Final Result           float64
Units                 category
Stream Group          category
dtype: object

In [21]:
print(f"Initial dataset shape: {df.shape}")

Initial dataset shape: (1664707, 9)

In [22]:
df.describe()

,Sample Date,Sample Time,Final Result
count,1664707,284857,1.420296e+06
mean,2001-09-16 02:26:37.327577856,1900-01-01 11:01:51.187156480,1.047976e+02
min,1987-01-05 00:00:00,1900-01-01 00:00:00,-1.638890e+01
25%,1994-09-12 00:00:00,1900-01-01 10:05:00,1.250000e+00
50%,1999-11-15 00:00:00,1900-01-01 10:55:00,6.970000e+00
75%,2007-10-01 00:00:00,1900-01-01 11:50:00,1.800000e+01
max,2023-04-25 00:00:00,1900-01-01 23:56:00,1.470000e+06
std,NaN,NaN,2.752474e+03

üìä Interpretation of df.describe() Results

1Ô∏è‚É£ Sample Date (Datetime)
Total Samples with Dates: 1,664,707 (all non-null).
Mean (Average Date): Sep 16, 2001 ‚Üí Most samples are around this period.
Oldest Sample: Jan 5, 1987 ‚Üí Data collection started in 1987.
Newest Sample: Apr 25, 2023 ‚Üí Latest recorded sample.
    
Data Spread:
25% of data is from before Sep 12, 1994.
50% of data (median) is from before Nov 15, 1999.
75% of data is from before Oct 1, 2007.
    
Key Insight:
‚úÖ Dataset covers a 36-year period (1987-2023), with more recent samples.
    
2Ô∏è‚É£ Sample Time (Datetime)
Total Samples with Time Recorded: 284,857 (~17% of total data).
Mean Time: 11:01 AM ‚Üí Most samples were collected around this time.
Earliest Time: 00:00:00 (Midnight).
Latest Time: 23:56:00 (Near Midnight).
    
Data Spread:
25% of samples were taken before 10:05 AM.
50% (Median) were taken before 10:55 AM.
75% of samples were taken before 11:50 AM.
    
Key Insight:
‚úÖ Most samples are collected in the morning, peaking before noon.
‚úÖ Many missing timestamps (~83% of data).
    
3Ô∏è‚É£ Final Result (Float - Measurement Values)
Total Non-Null Values: 1,420,296 (some missing values).
Mean (Average Value): 104.8 ‚Üí Typical measurement reading.
Minimum Value: -16.39 ‚Üí Possible outlier (negative values in water quality?).
Maximum Value: 1,470,000 ‚Üí Very high, needs checking.
    
Data Spread:
25% of values are below 1.25.
50% (Median) of values are below 6.97.
75% of values are below 18.0.
Standard Deviation (Std): 2,752.47 ‚Üí Extremely high variation.
    
Key Insight:
‚úÖ Possible data quality issues due to extreme outliers.
‚úÖ Most readings are below 20, but max = 1.47M suggests anomalies.

In [23]:
# number of duplicate rows
print(f"Number of duplicate rows: {df.duplicated().sum()}")

Number of duplicate rows: 8

In [25]:
# number of unique values in each columns
for col in df.columns:
    print(f"{col}: {df[col].nunique()} unique values")

Sample Id: 117078 unique values
Sample Site: 423 unique values
Sample Date: 8351 unique values
Sample Time: 807 unique values
Analyte: 348 unique values
Status: 5 unique values
Final Result: 13857 unique values
Units: 28 unique values
Stream Group: 16 unique values

In [26]:
#checking missing values percentage:
missing_percentage = (df.isnull().sum() / len(df))*100
print(missing_percentage.sort_values(ascending=False))

Sample Time     82.888460
Status          82.087839
Final Result    14.681923
Units            8.200903
Stream Group     0.192947
Sample Id        0.000000
Analyte          0.000000
Sample Site      0.000000
Sample Date      0.000000
dtype: float64

 Interpretation of Missing Data Percentage
 
Sample Time ‚Üí 82.89% missing
üî¥ Critical issue: Only ~17% of samples have a recorded time.
üîπ Suggestion: Drop this column if time is not important, or analyze missing patterns.

Status ‚Üí 82.09% missing
üî¥ Severely incomplete: Only ~18% of records have a status.
üîπ Suggestion: Check if missing values correlate with a certain type of data.

Final Result ‚Üí 14.68% missing
üü° Moderate issue: ~15% of sample measurements are missing.
üîπ Suggestion: Consider imputation (e.g., median value) or drop missing rows if necessary.

Units ‚Üí 8.20% missing
üü° Small issue: Units are missing in ~8% of cases.
üîπ Suggestion: Check if certain analytes are more affected.

Stream Group ‚Üí 0.19% missing
‚úÖ Minor issue: Less than 1% missing ‚Üí Not a major concern.

Sample Id, Analyte, Sample Site, Sample Date ‚Üí 0% missing
‚úÖ Perfect! These columns have complete data.

In [27]:
# Checking unique values in each categorical column
categorical_cols = ['Sample Site', 'Analyte', 'Status', 'Units', 'Stream Group']

for col in categorical_cols:
    print(f"Unique values in {col}:\n", df[col].value_counts(), "\n")

Unique values in Sample Site:
 Sample Site
CBS             29123
E16I            23572
SRR2            21846
MB-1            21363
NCG             19575
                ...
HH7 NANO SbS        2
CROFALLS7R          2
MUSCOOT7            1
HUNTER N3           1
HUNTER N1           1
Name: count, Length: 423, dtype: int64

Unique values in Analyte:
 Analyte
Turbidity                   97135
Temperature                 92724
pH                          88386
Coliform, Fecal             86001
Phosphorus, Total (as P)    74945
                            ...
Dinobryon                       1
Cylindrospermopsin              1
Dog BacCan UCD                  1
Bacteroides GenBac3             1
Chrysosphaerella                1
Name: count, Length: 348, dtype: int64

Unique values in Status:
 Status
Done        254689
Warning      20089
Cancel       15977
Failure       7429
NoChange         1
Name: count, dtype: int64

Unique values in Units:
 Units
mg/L          743215
¬µg/L          259665
CFU/100mL     132689
NTU           104708
C              92724
umhos/cm       92697
CU             47229
FC/100mL       19303
mm Hg          11515
TC/100mL        6689
Per/L           4264
absorp/cm       3523
CFU/mL          2411
g440/m          1776
g740/m          1776
ng/L            1208
/100ml           790
m                610
RFU              347
mL/L             273
CFU/100ml        256
nm               192
QSU              123
pCi/L            112
MPN/100L          33
%                 31
ASU/mL            26
Foci Count         1
Name: count, dtype: int64

Unique values in Stream Group:
 Stream Group
Cannonsville           290769
Esopus                 261780
Pepacton               192224
Schoharie              187598
EOH Hydrology          174471
Rondout                 94637
West Branch             90887
Kensico                 77711
Neversink               74766
Muscoot                 73229
East Branch             66290
Catskill Daily          39444
Cross Roads Venture     18279
Lower Esopus            16108
Delaware Aqueduct        3239
Esopus Creek               63
Name: count, dtype: int64

In [28]:
#checking for negative or extreme values:
print("Negative values in 'Final Result':")
print(df[df['Final Result'] < 0])

Negative values in 'Final Result':
            Sample Id Sample Site Sample Date         Sample Time  \
217           E-96871   MIDDLEBRR  1987-01-05                 NaT
371           E-95643     EASTBRR  1987-01-05                 NaT
499           D-69955         RD1  1987-01-06                 NaT
623           D-70457         RD4  1987-01-06                 NaT
835           E-98396     WESTBRR  1987-01-06                 NaT
...               ...         ...         ...                 ...
1545405  K-1800859-04       STHHG  2018-03-12 1900-01-01 10:35:00
1548055  K-1801184-02        SSHG  2018-04-09 1900-01-01 10:54:00
1548059  K-1801184-03        SSMA  2018-04-09 1900-01-01 11:34:00
1602967  G-2000341-11         NCG  2020-01-27 1900-01-01 09:42:00
1607029  G-2000999-09         NCG  2020-03-16 1900-01-01 08:05:00

             Analyte Status  Final Result Units   Stream Group
217      Temperature    NaN      -1.11111     C  EOH Hydrology
371      Temperature    NaN      -2.22222     C  EOH Hydrology
499      Temperature    NaN      -1.00000     C        Rondout
623      Temperature    NaN      -2.00000     C        Rondout
835      Temperature    NaN      -2.22222     C    West Branch
...              ...    ...           ...   ...            ...
1545405  Temperature   Done      -0.10000     C      Schoharie
1548055  Temperature   Done      -0.20000     C      Schoharie
1548059  Temperature   Done      -0.20000     C      Schoharie
1602967     fDOM RFU   Done      -0.10000   RFU      Neversink
1607029     fDOM RFU   Done      -0.10000   RFU      Neversink

[2480 rows x 9 columns]

Found 2,480 rows with negative values in Final Result, which likely indicates errors, missing data representations, or incorrect measurements.

In [ ]:
#handing missing values
df.drop(columns=['Status'], inplace= True)

In [ ]:
#filling 'Sample Time' missing value using forward-fill
df['Sample Time'] = df['Sample Time'].ffill()

In [ ]:
#filling 'Units' and 'Stream Group' with mode
df['